# Class 1: Python Basics

## Basic Operations

In Jupyter Notebook, when you run a cell of code, it will normally return a result even if you don't ask it to do so. But if you do, it will only return the last calculation in the cell and not all the operations.

That's why the "print()" command is very important. This command will print on the screen everything that the argument specifies. A good practice is to explicitly write with the print command everything that is actually necessary to appear on the screen, even if Jupyter Notebook would do it automatically. This helps us to organize the code, and to move from one language or software to another in a better way.

Here are some examples

In [1]:
#Jupyter will automatically show the result
2+2

4

In [3]:
#Jupyter shows only the last operation
2+2
4*2

8

In [4]:
# When running this cell, everything inside the print comands will be shown as well as the last operation of the cell
2+2
print(3+2)
print(4*2)
1+1

5
8

2

## Objects

In Python there are several objects to use: booleans, strings, integers, floats, lists, etc.
- Booleans can be True or False
- Strings are things between quotes (double or single). These can be words, letters, phrases, etc.
- Integers and Floats are numbers, the first are whole numbers while floats are numbers with decimal values.
- The type() command allows us to know what class the object we are working with is.

Examples

In [5]:
#Boolean
A=True
type(A)

bool

In [6]:
#Float & Integer
B=2
C=2.0
print(type(B), type(C))

<class 'int'> <class 'float'>

In [8]:
#String
D = "This is a string"
E = '1'
print(type(D),type(E))

<class 'str'> <class 'str'>

### Tuples

- Tuples are a way of grouping objects in Python
- Tuples are written with normal parentheses and each element is separated by commas.
- Tuples have an index that orders the elements inside them and associates them with a number, the first element will always have the index zero associated and they continue in ascending order of natural numbers.

Let's see some examples

In [9]:
#Lets create some tuples

tuple1 = ('disco', 10,1.2)
print(tuple1, type(tuple1))

('disco', 10, 1.2) <class 'tuple'>

In [10]:
# we can print the elements of the tuple by their index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [11]:
# We can see the type of elements inside the tuples

print(tuple1)
print( type( tuple1[ 0 ] ) )
print(type(tuple1[1]))
print(type(tuple1[2]))

('disco', 10, 1.2)
<class 'str'>
<class 'int'>
<class 'float'>

In [12]:
# Negative indices allow us to access the elements starting backwards from the end

print(tuple1)
print(tuple1[-1])
print(tuple1[-2])
print(tuple1[-3])

('disco', 10, 1.2)
1.2
10
disco

#### Operations in Tuples

- Tuples can be concatenated, which is like "adding tuples". The idea behind this is that we unite them into one big tuple with all the elements. This is NOT vector addition
- We can "cut" tuples, taking pieces out of them
- We can also sort tuples
- Finally we can have tuples inside tuples.

In [13]:
#Concatening tuples
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [14]:
#Cuting tuples

print(tuple2)

print(tuple2[0:3],
tuple2[3:5])

('disco', 10, 1.2, 'hard rock', 10)
('disco', 10, 1.2) ('hard rock', 10)

In [15]:
#Lenght of tuple

len(tuple2)

5

In [16]:
#Lets sort a tuple, but for that we must first create one that can be sorted

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

RatingsSorted = sorted(Ratings)

print(Ratings,RatingsSorted)

(0, 9, 6, 5, 10, 8, 9, 6, 2) [0, 2, 5, 6, 6, 8, 9, 9, 10]

In [17]:
#Sorting letters

tuplaLetras = ('a','f','c','z', 'aa', 'perro','gato','perro2')

ordenada = sorted(tuplaLetras)

print(ordenada)

['a', 'aa', 'c', 'f', 'gato', 'perro', 'perro2', 'z']

In [20]:
# Tuples within tuples

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

print(NestedT)

print('length of the tuple: ',len(NestedT))

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))
length of the tuple:  5

In [21]:
#Print the elements of each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [22]:
# Print elements of each index, nests included

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [23]:

NestedT[2][1][0]

'r'

In [24]:


NestedT[2][1][1]

'o'

In [25]:

NestedT[4][1][0]

1

In [53]:

NestedT[4][1][1]

2

### Lists

- Lists can be a sequenced collection of objects such as integers, floats, strings, and other lists. Yes, you can have a list within a list.
- All lists have an index that associates each element with a number. They ALWAYS start with zero as the index of the first element.
- Lists are built within square brackets by separating the elements with commas

Let's look at some examples

In [31]:
#Creating a list

L = ['Michael Jackson', 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [30]:
# printing the elements of each index

print('Same element using positive and negative indexing:\n Positive (0):',L[0],
'\n Negative (-3):' , L[-3]  )
print('Same element using positive and negative indexing:\n Positive (1):',L[1],
'\n Negative (-2):' , L[-2]  )
print('Same element using positive and negative indexing:\n Positive (2):',L[2],
'\n Negative (-1):' , L[-1]  )

Same element using positive and negative indexing:
 Positive (0): Michael Jackson
 Negative (-3): Michael Jackson
Same element using positive and negative indexing:
 Positive (1): 10.1
 Negative (-2): 10.1
Same element using positive and negative indexing:
 Positive (2): 1982
 Negative (-1): 1982

In [32]:
#List within list

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

#### Operations in lists

Lists can be cut, we can add items to them, extend them, change items, delete items

In [35]:
#Cuting Lists

L = ['Michael Jackson', 10.1, 1982, "MJ", 1]

print(L[3:5])

['MJ', 1]

In [36]:
#Extending Lists

L.extend(['pop',10])
L

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'pop', 10]

In [37]:
#Appending the L list

L = ['Michael Jackson', 10.1, 1982, "MJ", 1]

L.append(['pop', 10])

L

['Michael Jackson', 10.1, 1982, 'MJ', 1, ['pop', 10]]

Note that extending lists only adds elements to the list at the same level that was extended. On the other hand, appending actually adds the new information as a nested list.

In [39]:
#Changing the list
A = ['disco', 10, 1.2]

print(A)
A[0] = 'Reggeton'
print(A)

['disco', 10, 1.2]
['Reggeton', 10, 1.2]

In [40]:
#Deliting elements
A = ['disco', 10, 1.2]
print(A)
del(A[0:2])
print(A)

['disco', 10, 1.2]
[1.2]

In [41]:
#About strings. We can split a string into its words or components and transform each of these elements into
#a big list.

S = "It's a dangerous business, Frodo, going out your door."
print(S, type(S))
print(S.split())
print(S.split(','))
print(S.split('o'))

It's a dangerous business, Frodo, going out your door. <class 'str'>
["It's", 'a', 'dangerous', 'business,', 'Frodo,', 'going', 'out', 'your', 'door.']
["It's a dangerous business", ' Frodo', ' going out your door.']
["It's a danger", 'us business, Fr', 'd', ', g', 'ing ', 'ut y', 'ur d', '', 'r.']

In [42]:
#Copying lists

Lista = [2,3,10,4.2]

print(Lista)

Lista2 = Lista

print(Lista)
print(Lista2)

[2, 3, 10, 4.2]
[2, 3, 10, 4.2]
[2, 3, 10, 4.2]

In [43]:
#Changing lists
print(Lista)
Lista[3] = 8
print(Lista2)
Lista2[3] = 5
print(Lista)

[2, 3, 10, 4.2]
[2, 3, 10, 8]
[2, 3, 10, 5]

In [46]:
#Copying part of lists
print(Lista)

clon = Lista[1:3]
print(clon)

[2, 3, 10, 5]
[3, 10]

In [49]:
#changing the copy doesn't change the original
clon[0] = 4
print(Lista)
print(clon)

[2, 3, 10, 5]
[4, 10]

### Dictionaries

- A dictionary is a collection that is ordered, changable and that doesn't allow duplicates
- They allow you to store data in "key:value" pairs
- They are written inside curly brackets {}, they can have multiple keys and all values must be associated to one of those keys.

In [51]:
#Example with multiple keys and values
Dict = {"Key1": 1, "Key2": "2", "Key3": [3,3,3,], "Key4": (4,4,4), ("Key5"): 5, (0,1):6}
Dict

{'Key1': 1,
 'Key2': '2',
 'Key3': [3, 3, 3],
 'Key4': (4, 4, 4),
 'Key5': 5,
 (0, 1): 6}

In [54]:
#Values can be shown by their keyes
Dict[(0,1)]

6

In [55]:
diccionario = {"Thriller": "1982", "Back in Black": "1980", "The Dark Side of the Moon": "1973","Rumours": "1977"}

In [56]:
#To see the keys we use the name of the dictionary and add .keys()
diccionario.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'Rumours'])

In [58]:
# To see the values we use the name of the dictionary and add .values()

diccionario.values()

dict_values(['1982', '1980', '1973', '1977'])

In [64]:
#We can add a key with its corresponding values
diccionario["Graduation"] = '2007'
diccionario

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'Rumours': '1977',
 'Graduation': '2007'}

In [65]:
#We can add whole sections too
del(diccionario["Graduation"])

In [66]:
diccionario

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'Rumours': '1977'}

In [67]:
#We can ask if something exists in the dictionary
print("The Bodyguard" in diccionario)
print("The Dark Side of the Moon" in diccionario)

False
True

## Conditions

equal ==

unequal !=

greater than >

less than <

greater or equal >=

less or equal <=

In [69]:
a = 5
print(a == 6)
print(a < 6)

False
True

In [73]:
"BB" > 'bB'

False

### IF

The if statement analyzes a situation and decides whether to run a piece of code or not. This will depend on the values you specify in the if statement.

In [75]:
#Testing different versions of if
age = 17


if (age > 18) and (age< 25):
    print("you can enter the club")
elif age > 25:
    print('please come in steemed lady')
else:
    print('your are too young')

print("hi")

your are too young
hi

In [76]:
#same as before
age = 17


if 25> age > 18:
    print("you can enter the club")
elif age > 25:
    print('please come in steemed lady')
else:
    print('your are too young')

print("Hi")

your are too young
Hi

In [77]:
#Using OR, the result is tahta anyone can enter and the elif and else will never come into effect

age = 17

if (age > 18) or (age< 25):
    print("you can enter the club")
elif age > 25:
    print('please come in steemed lady')
else:
    print('your are too young')

print("Hi")

you can enter the club
Hi

In [78]:
#Trying the NOT
age = 17

if not (age < 18):
    print("you can enter the club")
elif age > 25:
    print('please come in steemed lady')
else:
    print('your are too young')

print("Hi")

your are too young
Hi

## Loops

Loops are basically making the computer repeat a process over and over again until a condition is met that stops it.
This is useful for analyzing large amounts of data automatically

We will look at two types of loops: While and For

It is advisable to first recognize the range() object. One way to understand this object is as an ordered list.

In [81]:
#We will create a range with all the elements from 0 to 2 (this has 3 elements but always starts from zero)

range(3)

range(0, 3)

In [82]:
#Example of FOR loop

years = [1982, 1980, 1973]

N=len(years)

for i in range(N):
    print(years[i])

1982
1980
1973

Here we ask the computer to calculate with len the number of elements in the years object.
Then through a for loop we ask it to iterate for each value of i within a range() equal to the number of elements in the year object.

In each iteration the computer will print the i-th element of the years object.

In [83]:
# Another example of FOR. Here we specify that the range starts at another value and ends at a specific one.
# The third value of the range command tells us how the counter will move, it can be two by two, etc.
# Range always asks for integers!

for i in range(2,8,2):
    print(i)

2
4
6

In [84]:
#example of intuitive FOR

for date in years:
    print(date)

1982
1980
1973

In [86]:
#Let's do something with the list elements using FOR

squares = ['red', 'yellow', 'blue', 'green', 'purple']

print(squares)
for i in range(len(squares)):
    print('before we start the color is ', squares[i])
    squares[i] = 'white'
    print("New color is ", squares[i])
    
print(squares)

['red', 'yellow', 'blue', 'green', 'purple']
before we start the color is  red
New color is  white
before we start the color is  yellow
New color is  white
before we start the color is  blue
New color is  white
before we start the color is  green
New color is  white
before we start the color is  purple
New color is  white
['white', 'white', 'white', 'white', 'white']

### While Loop

This type of loop runs forever until a condition is met.

In [87]:
#Example

dates = [1982, 1980, 1973, 2000]

i=0
year = dates[0]

while (year != 1973):
    print(year)
    i=i+1
    year = dates[i]
    
print('It took ', i, ' times to get out of the loop')

1982
1980
It took  2  times to get out of the loop